# [10 Minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html) #

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object Creation ##
Links:
- [Intro to Data Structures](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)
- [Series](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html#pandas.Series)
- [DataFrame](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame)
- [dtypes](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-dtypes)

In [2]:
# creating Series by passing list of values
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
# creating a DataFrame by passing a NumPy array with a datetime index and labled columns
dates = pd.date_range('20190101', periods=6)

In [5]:
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2019-01-01 -0.601393 -0.247973  1.095886  0.745288
2019-01-02  1.267922 -0.600952 -0.576422  0.468958
2019-01-03 -0.050570 -1.739520  1.433175  0.280558
2019-01-04  0.434809 -0.084232 -0.529764  0.825598
2019-01-05 -0.305477  0.766316  0.106171  1.804025
2019-01-06 -1.441551  0.218318  0.839248 -0.714669

In [8]:
# creating DataFrame by passing a dict of objects
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20190101'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2019-01-01  1.0  3   test  foo
1  1.0 2019-01-01  1.0  3  train  foo
2  1.0 2019-01-01  1.0  3   test  foo
3  1.0 2019-01-01  1.0  3  train  foo

In [10]:
# get column dtypes
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object